---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Tony Scarpelli" description="About Tony Scarpelli">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A bit about me"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/Carving/CarvingTree.jpg"
          alt="CarvingTreee"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            What you see above is me in the beginning process of carving a tree, 
            just after the bark was removed. This step is smoothing
            everything out.
          </p><br />

          <p>
            You can’t live 81 years of life for just a paragraph, so here goes.<br
            /><br />

            I really had an interesting life, so I was told. I was born in Chicago
            on Abe Lincoln’s birthdate, but in 1943, I assumed it was a special thing;
            it wasn’t. On a freezing morning my father poured hot water into his car’s
            radiator and cracked something. My mother, in a panic, called the police.
            They came in a paddy wagon. No, I wasn’t born in the paddy wagon, they
            made it to Cook County hospital just in time.<br /><br />

            Went to school. Although my mother taught me how to cook when I was 13, and I 
            only cooked for my family as a teen ager, I got a job as second cook in a family 
            restaurant while I was in high school, and learned to cook on a higher level.<br /><br />

						I was always busy doing and making things. A real maker. Please see the pages 
            in the Work link above.<br /><br />

            My real desire was to leave my home and see the world; I joined the Army
            at eighteen. I had a tour in Washington DC as a long range communications
            troubleshooter. I got to set up communications with the carriers near
            Cuba during the Cuban Missile Crisis, October 1962. I fell in love with
            a WAC (Women’s Army Corps), but she’d have nothing of it. At the end
            of that year I was still lonely and very sad and I was sent to Korea
            to a mountain near the southern city of Pusan. I met a lovely girl and
            fell in love for a brief few months. On one of my night shifts, I was
            the first person in Korea to learn of President Kennedy’s death, November
            1963. I had to tell the rest of the Army posts in Korea about the sad
            news.<br><br>

            After the Army, I lived with my parents and worked in a TV repair shop.
            This didn’t help my loneliness and misery, so on my 22nd birthday I and
            my high school friend jumped into my Studebaker Lark and we headed for
            New York City to be free-lance writers. We lived on the Lower East Side, 
            Manhattan in a $40 a month tenement apartment.<br><br>
            Since I couldn’t sell anything I wrote, at least I still knew electronics,
            I got a job at the Bulova watch company in Queens, New York. I fixed
            tuning fork oscillators which were the time standards at that time, 1965.<br>
            View Accutron watch here <a href="https://teddybaldassarre.com/blogs/watches/accutron" target="_blank">Accutron watch</a><br><br>

            Then along came a first wife. We lived in Brooklyn. Because of the army I was 
						able to take a number of courses, one of which was Television Engineering. 
						We also were interested in Eastern religions. Both of us worked with Gurdjieff
            groups, and then we became Sufi’s, and eventually moved to Maine.<br/><br/>
            Then a second wife came along who I eventually married in 1974 in Kingman,
            Arizona where my parents lived.<br /><br />
          </p>

          <p>
            I joined a company that fixed and tested medical equipment in Maine
            hospitals.<br /><br />

            I wrote and published many magazine and book articles on computer programs
            and programming.<br /><br />

            I then joined the Clinical Engineering Department at Maine Medical Center.
            I went from being a biomedical technician, an R&D engineer where I built
            a device to help quadriplegics control their environment with a sip and
            puff switch, to being the department’s computer programmer. I wrote the
            database program for the medical equipment, a purchasing program, and
            an inventory program for the department. We were very efficient because
            of that. After working 32 years at Maine Medical Center I finally retired
            in 2012, became a householder, and got to work on many of those old projects
            that bugged me.<br /><br />

            I carved a tree and made wood carvings, made computer programs and
            microprocessor devices, finished my memoirs, and made some homemade books
            containing all the things I wrote over my lifetime.<br /><br />

            In 2018 I took a course in Precision Machining with my son, and got a
            small (7” x 12”) metal lathe, and machined small metal things into existence.<br
            /><br />

            I finally considered I saved myself, or so I thought, but heart problems
            finally got to me…<br /><br />

						Yet, it's 2024 and I'm still here. Eat well, think good, do the heavy work.<br /><br />
						There's probably more to say.
          </p>
          
        </div>
      </section>

      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <table>
            <head>
              <tr>
                <th>Dates</th>
                <th>Information</th>
              </tr>
            </head>

            <tbody>
              <tr>
                <td>1967</td>
                <td>
                  Engineering technician, American Time Products, Bulova Watch
                  Co., NY
                </td>
              </tr>
              <tr>
                <td>1969</td>
                <td>
                  Engineering technician, Dept. of Psychiatry, Downstate Medical
                  Center., NY
                </td>
              </tr>
              <tr>
                <td>1969</td>
                <td>Associate degree in television engineering</td>
              </tr>
              <tr>
                <td>1995</td>
                <td>Computer course in Basic programming,
                  <a href="https://en.wikipedia.org/wiki/Westbrook_College" target="_blank">Westbrook College</a>
                </td>
              </tr>
              <tr>
                <td>1989-present</td>
                <td>
                  Many years programming in Basic,
                  <a href="https://en.wikipedia.org/wiki/Dartmouth_BASIC#:~:text=Dartmouth%20BASIC%20is%20the%20original,Kurtz." target="_blank">Darmouth Basic</a>
                  to
                  <a href="https://www.spiceworks.com/tech/devops/articles/what-is-visual-basic/" target="_blank">Visual Basic</a>
                </td>
              </tr>
              <tr>
                <td>1978</td>
                <td>Course in Computer Repair</td>
              </tr>
              <tr>
                <td>1980-present</td>
                <td>Courses in FoxPro, C#, Python, JavaScript, Forth, Astro</td>
              </tr>
              <tr>
                <td>1990</td>
                <td>
                  Course in
                  <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank">Microsoft SQL Server</a>
                </td>
              </tr>
              <tr>
                <td>2010</td>
                <td>Course in JavaScript, Portland Adult Education</td>
              </tr>
              <tr>
                <td>2020</td>
                <td>Google apps programming</td>
              </tr>
              <tr>
                <td>2021</td>
                <td>Excel macro programming</td>
              </tr>
              <tr>
                <td>1916-present</td>
                <td>
                  Microprocessor programmer: Arduino, ESP32, ESP8266, Raspberry
                  Pi
                </td>
              </tr>
              <tr>
                <td>2019</td>
                <td>
                  Precision Machining,
                  <a href="https://www.smccme.edu/" target="_blank">Southern Maine Community College</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section>
        <h2 class="section-title">Skills</h2>
				<div class="row">
					<div class="float-sm-start">
						<div class="column">
							<table>
								<tr>
									<td>Basic</td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
								</tr>
								<tr>
									<td>Arduino C++</td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
								</tr>
								<tr>
									<td>Forth</td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
								</tr>
								<tr>
									<td>Excel Macros</td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
								</tr>
								<tr>
									<td>Sql Server</td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
									<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
								</tr>
							</table>
						</div>
					</div>

					<div class="float-sm-start">
						<div class="column">
								<table>
									<tr >
										<td>JavaScript</td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
									</tr>
									<tr>
										<td>Google Apps</td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
									</tr>
									<tr>
										<td>C#</td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
									</tr>
									<tr>
										<td>Python</td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
									</tr>
									<tr>
										<td>HTML/CSS</td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgb(0, 183, 255);">&starf;</span></td>
										<td><span style="font-size:200%;color:rgba(255, 255, 0, 0.027);">&starf;</span></td>
									</tr>
								</table>
						</div>
					</div>
				</div>
			</section>
    
		</main>

    <div style="text-align:center">    
      <a href="/work/">Work Page</a>
     </div>
    
    <ContactCTA />

  </div>
  
</BaseLayout>

  <style>
    .center-text {
      text-align: center;
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }

  </style>
</BaseLayout>
